//EXTEND
%estiloPrincipal {

    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: 1000;
    text-align: end;
    padding-top: 20px;
    padding-right: 450px;
}

%estiloCartas{
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}