.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}




.CARROUSEL-PADRE {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;

    .ancho-carrousel {
        width: 50vw;
    }
}

.imagenes-index {
    display: flex;
    justify-content: center;

    img {
        width: 500px;
        height: 500px;
        margin: 20px;
    }
}


.destacados {
    text-align: center;

    font-size: 2em;
    transition: 0.5s;
    //width: 300px;
    margin: 10px auto;
    font-family: monospace;
    display: block;
    white-space: nowrap;
    border-right: 4px solid; //para que aparezca el puntero
    width: 10ch; //numero de caracter que tieene la linea
    animation: typing 2s steps(10), blink 1s infinite step-end alternate;
    overflow: hidden;







}

.productos-destacados {

    justify-content: center;
    margin: 0 auto;
    width: 90vw;

    img {
        width: 23%;
        margin: 5px;
        height: 330px;

        &:hover {

            scale: 1.2;
            transition: all 300ms;
            cursor: pointer;

        }

    }
}

.boton-productos {
    text-align: center;
    margin-top: 40px;

    .btn-primary-Productos {
        background-color: rgb(47, 47, 110);
        padding: 10px;
        color: white;

    }


}

.dos-videos {
    width: 60vw;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    margin: 0 auto;

    h4 {

        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 3px;
        box-shadow: $box-shadow;

    }

    iframe {
        width: 100%;
        justify-content: center;
        height: 700px;
        margin-top: 5px;


    }


}

.css-selector-degradee {
    
    background: linear-gradient(270deg, red, blue, orange, rgb(16, 17, 16));
    background-size: 800% 800%;
    height: 4px;
    animation: AnimationName 5s ease infinite;
    -webkit-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border: transparent;
    }
}


@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media(min-width:500px) and (max-width:990px) {

    .color-nav-boostrap {
        background-image: linear-gradient(to left, #bcd6bc, #70ac70);

    }

    .imagenes-index {
        display: flex;
        justify-content: center;

        img {
            width: 50vw;
            height: 250px;
            margin: 20px;

        }

    }

    .productos-destacados {
        width: 90vw;
        flex-wrap: wrap;

        img {
            width: 40%;

            margin: 15px;

            height: 330px;

        }
    }

    .dos-videos {
        width: 80vw;

        justify-content: center;

        iframe {
            width: 100%;
            justify-content: center;
            margin-top: 15px;
            height: 300px;

        }


    }




}

@media(min-width:360px) and (max-width:500px) {
    .imagenes-index {
        img {
            width: 100px;
            height: 100px;
        }
    }

    .productos-destacados {
        img {
            width: 95%;
        }
    }

    .dos-videos {
        iframe {
            width: 100%;
            height: 60%;
            margin: 0;
        }

        h4 {
            width: 100%;
        }
    }


}